<div style="text-align: center" class="container">
  <header class="row">
    <h1>
      {{title}}
    </h1>
    <div class="col-md-12">
      <app-header></app-header>
    </div>
  </header>
  <section class="row">
    <div class="col-md-10">
      <router-outlet></router-outlet>
  <!--    <app-show-passenger></app-show-passenger>
    </div>
    <div class="col-md-6">
      <app-addloancustomer></app-addloancustomer>
      <app-showcustomer></app-showcustomer>
      <app-login></app-login>
    </div>
    <div class="col-md-2">
      <app-searchpassenger></app-searchpassenger>-->
    </div>
  </section>
  <footer>
    <app-footer></app-footer>
  </footer>
</div>
